*{
    box-sizing: border-box;
}
*{margin: 0;
padding: 0;
}
body,html{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.mobile{
    display: none;
}
.burger{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    &-items{
        width: 20px;
        height: 3px;
        background-color:  rgba(255, 255, 255, 0.61);
    }
}
@mixin button-catalog{
    padding: 0.75rem 2.25rem;
    border-radius: 2.2rem;
    border: 1px solid #C4C4C4;
    font-size: 1rem;
    font-weight: 500;
}
@mixin button-price {
    padding: 0.45rem 0.3rem;
    border: 1px solid #F59B4D;
    background-color:#F59B4D;
    font-size: 0.75rem;
    font-weight: 400;
    color:#1F1F1F;
}
@mixin product{
    width: 30%;
    background-color: rgba(31, 31, 31, 1);
    border-radius: 1.5rem;
    padding: 1.25rem 1rem 0.85rem 1rem ;
}

@mixin paragraph {
    font-size: 1rem;
    font-weight: 400;
}
@mixin title-size {
    font-size: 3rem;
    font-weight: 800;
} 

a{
    text-decoration: none;
}
header{
    background-image: url(../img/bg-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 12.5rem;
}
nav{
    width: 75%;
    margin: 0 9rem;
    padding: 0.4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
     width: 20%;
     img{
        width: 100%;
     }
    }
    .links{
        width: 66%;
          ul{
            display: flex;
            justify-content: space-between;
            li{
                 list-style: none;
                 display: inline-block;
                  padding-right: 1rem;
                  &:hover{
                  font-weight: 500;
                   text-decoration: underline;
                   }
                    a{
                        font-size: 0.75rem;
                        font-weight: 400;
                         color: white;
                       }
                }
             }
          }
    }
.about-us-hover{
    font-weight: 500;
    text-decoration: underline;
    }
.shopping-basket{
    display: flex;
    justify-content: space-between;
    align-items: center;
       .basket{
        margin-right: 0.5rem;
        padding: 0.4rem;
        width: 2rem;
        height: 2rem;
        background: rgba(40, 28, 20, 1);
        border-radius: 1rem;
         a img{
        width: 1.2rem;
        height: 1.2rem;
         }
       }
        .sumary{
            position: relative;
            font-size: 0.75rem;
            margin-right: 1rem;
            &::after{
                content: "";
                display: block;
                width: 0.5rem;
                height: 0.25rem;
                background-image: url(../img/Vector-shopping-basket.png);
                position: absolute;
                left: 4rem; 
                top: 0.25rem;       
            }
         }
        
}
.wrapper{
    text-align: left;
    h1{
        font-size: 3.65rem;
        margin: 5rem 0 1rem 10.75rem;
        font-weight: 800;
        line-height: 110%;
    }
    p{
        margin-left: 10.75rem;
        margin-bottom: 3rem;
        color: white;
        font-weight: 400;
    }
    .browse-items{
        margin-left: 10.75rem;
        padding: 1.5rem;
        font-size: 0.9rem;
        font-weight: 500;
        color: #151616;
        background-color: #C98D5A;
        border-radius: 2.8rem;
        border: 1px solid #C98D5A;
        &:hover{
        background-color: #e04b0f;
        text-decoration: underline;
        }
    }
}
.title{
    h2{
        @include title-size;
        color: black;
    }
}
.title-underline{
     margin: 2.5rem 0;
    img{
        width: 70%;
    }
}
.why-choise-us{
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: rgba(235, 235, 235, 1);
   
}
.skills-main{
    margin: 0 auto;
    width: 65%;
    display: flex;
    justify-content: center;
    gap: 2.9rem;
.skills{
    width:21%;

    .middle-line{
        width: 100%;
        height: 0.15rem;
        background-color: rgba(118, 118, 118, 1);
        margin: 0.875rem auto;
    }
    img{
        width:49% ;
    }
}
}
.catalog{
    padding-top: 2.65rem ;
    padding-bottom: 7rem;
    background-image: url(../img/bg-catalog.png);
    background-size: cover;
    h2{
        @include title-size;
        color: white;
        margin-bottom: 3.35rem;
    }
}
.catalog-button{
    display: flex;
    justify-content: center;
    column-gap: 0.6rem;
    margin-bottom: 3.65rem;
    &-product{
        @include button-catalog;
        background-color: transparent;
        color: rgba(196, 196, 196, 1);
    }
    &-product:hover{
        border: 1px solid rgba(201, 141, 90, 1);
        background-color: rgba(201, 141, 90, 1);
        color:  rgba(21, 22, 23, 1);
    }
    &-product-hover{
        padding: 0.75rem 2.25rem;
        border-radius: 2.2rem;
        border: 1px solid rgba(201, 141, 90, 1);
        font-size: 1rem;
        font-weight: 500; 
        background-color: rgba(201, 141, 90, 1);
        color:  rgba(21, 22, 23, 1);
    }
}
.catalog-product{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 2.7rem;
    &-price{
       @include product;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;      
       h3{
        margin-bottom: 0.45rem;
        font-size: 1.2rem;
        font-weight: 700;
        color:  rgba(196, 196, 196, 1);
       }
       >img{
        width:70%;
        margin-bottom: 1rem;
       }
       >p{
        padding-bottom: 0.65rem;
        font-size: 0.75rem;
        font-weight: 500;
        color:rgba(196, 196, 196, 1);
       }
      >.form{
        width: 77%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a>img{
        width: 100%;
        }
         .price{
            @include button-price;
            &:hover{
                background-color: #e04b0f;
                text-decoration: underline;
                border: 1px solid #e04b0f ; 
            }
         }
       }
     }
}
.about-us{
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    background: url(../img/bg-about-us.png) 0% -24%/100% 270% no-repeat;
    &-info{
        width:73%;
        margin: 0 auto;
    p{
        text-align: left;
        margin-bottom: 1.15rem;
    }
    .ps{
        text-align: right;
    }
  }
}
.product{
    padding: 4rem 0;
    background-image: url(../img/bg-product-section.png);
    background-repeat: no-repeat;
    background-size: cover;
    h2{
        @include title-size;
        color: white;
        margin-bottom: 3.25rem;
    }
    &-price{
        width: 65%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
         &-img{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
         >img{ 
            display: block;
          }  
        }
    }
}
footer{
    padding: 0.6rem 0;
    background-color:rgba(18, 20, 19, 1);
    display: flex;
    justify-content: space-between;
    .footer-block{
        margin: 0 auto;
        width: 73%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        .logo-small{
            width: 15%;
            img{
                width: 100%;
            }
        }
    
    .adress{
        .direction{
            font-size: 1rem;
            font-weight: 700;
            color: white;
            margin-bottom: 0.5rem;
           }
        &-info{
        font-size: 0.8rem;
        font-weight: 400;
        color: white;
          }
       }
    .kontact{
        font-size: 1.2rem;
        font-weight: 700;
        color: white;
        p{
            margin-bottom: 0.5rem;
        }
    }
  }
}
@media (max-width:1200px) {
    body,html{
        font-size: 15px;
    }
    .kontact>p{
        font-size: 1rem;
        font-weight: 500;
       
    }
}
@media (max-width:1000px) {
    body,html{
        font-size: 13px;
    }
    .kontact>p{
        font-size: 0.7rem;
        font-weight: 500;
       
    }
    .catalog-product-price>.form>a>img {
        width: 80%;
    }
}
@media (max-width:820px) {
    body,html{
        font-size: 12px;
    }
    .catalog-product-price>.form>a>img {
        width: 60%;
    }
}
@media (max-width:600px) {
    body,html{
        font-size: 8px;
    }
    .kontact>p{
        font-size: 0.6rem;
       
    }
    .catalog-product-price>.form>a>img {
        width: 50%;
    }
}
@media (max-width:390px){
    body,html{
        font-size: 8px;
    }

    .catalog-product-price>.form>a>img {
        width: 40%;
    }
    .links{
        display: none;
    }
    .mobile{
        display: block;
        margin-right: 2rem;
    }
    .mobile-catalog{
        margin: 0 auto;
        width: 95%;
        display: flex;
        justify-content: space-between;
        .catalog-button{
            width: 40%;
            flex-direction: column;
            row-gap: 2.5rem;
        }
        .catalog-product{
            width: 55%;
            flex-direction: column;
            align-items: center;
            row-gap: 1rem;
            &-price{
               width:75%;
            }
        }
    }

}


